{% extends "main.html" %}

{% block content %}
<div class="card">
    <h1>{{asteroid.name}}</h1>
    <p><strong>NASA ID:</strong>{{asteroid.id}}</p>

    {% if asteroid.hazardous %}
        <p><span class="badge badge-danger">Potentially Hazardous</span></p>
    {% else %}
        <p><span class="badge badge-safe">Not Hazardous</span></p>
    {% endif %}

    <h2>Asteroid Information</h2>
    <p><strong>Miss Distance:</strong> {{ asteroid.miss_distance }}</p>
    <p><strong>Relative Velocity:</strong> {{ asteroid.velocity }}</p>
    <p><strong>Absolute Magnitude:</strong> {{ asteroid.absolute_magnitude }}</p>
    <p><strong>Estimated Diameter:</strong> {{ asteroid.diameter_min }} km - {{ asteroid.diameter_max }} km</p>

    <a class="button" href="{{url_for('save_asteroid, asteroid_id=asteroid.id')}}">Save to Watchlist</a>
    <a class="button" href="{{url_for('search')}}">Search Again</a>
</div>
{% endblock %}